html, * { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}

.inline-block {
  display: inline-block;
}

img {
  width: 100%;
  object-fit: cover;

  &.photo {
    height: 50px;
    width: 50px;
  }
}